*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(27, 36, 54);
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    width: 900px;
    overflow: hidden;
}
.gameName{
    margin: 3rem 0;
}
.dashboard{
    border: 1px solid white;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    font-size: 46px;
    position: relative;
}
.player > h4{
    background: tomato;
    font-size: 16px;
    width: 50px;
}
#user {
    position: absolute;
    top: 18px;
    left: -22px;
}
#comp{
    position: absolute;
    top: 18px;
    right: -23px;
}
.message{
    margin: 3rem 0;
}
.btn{
    border-radius: 50%;
    border: none;
    padding: 10px;
    font-size: 3rem;
    margin: 0 20px;
    cursor: pointer;
    transition: background .8s ease;
}
.btn:hover{
    background: rgb(124, 169, 236);
}
p{
    margin: 3rem 0;
}